<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>At our shoe e-commerce store, we provide the best quality footwear for every occasion. Explore our collection to find the perfect pair of shoes for you.</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/products" class="text-white">Products</a></li>
                    <li><a href="/about" class="text-white">About</a></li>
                    <li><a href="/contact" class="text-white">Contact</a></li>
                </ul>
            </div>

            <!-- Support -->
            <div class="col-md-2">
                <h5>Support</h5>
                <ul class="list-unstyled">
                    <li><a href="/faq" class="text-white">FAQ</a></li>
                    <li><a href="/returns" class="text-white">Returns</a></li>
                    <li><a href="/shipping" class="text-white">Shipping</a></li>
                    <li><a href="/privacy-policy" class="text-white">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Follow Us -->
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="d-flex">
                    <a href="https://facebook.com" class="text-white mr-3"><img src="img/facebook-icon.png" alt="Facebook" style="width: 24px;"></a>
                    <a href="https://twitter.com" class="text-white mr-3"><img src="img/twitter-icon.png" alt="Twitter" style="width: 24px;"></a>
                    <a href="https://instagram.com" class="text-white mr-3"><img src="img/instagram-icon.png" alt="Instagram" style="width: 24px;"></a>
                    <a href="https://linkedin.com" class="text-white"><img src="img/linkedin-icon.png" alt="LinkedIn" style="width: 24px;"></a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p>&copy; 2024 YourCompanyName. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
