<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="Logo" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/auth/signin"><img src="/img/log-in.png" alt="Login" height="30"></a></li>
            <li class="nav-item"><a class="nav-link" href="/cart"><img src="/img/cart.png" alt="Cart" height="30"></a></li>
            <li class="nav-item"><a class="nav-link" href="/user/wishlist"><img src="/img/wishlist.png" alt="Wishlist" height="30"></a></li>
            <li class="nav-item"><a class="nav-link" href="/user/profile"><img src="/img/userprofile.jpg" alt="User Profile" height="30"></a></li>
        </ul>
    </div>
</nav>